{% extends "template.html" %}
{% load static %}

    {% block content %}
    <h1>{{ recipe.name }}</h1>
    <p> <strong> Author: </strong> {{ customer.author.user.username }}</p>

    <h3> Ingredients </h3>
        <ul>
            {% for ring in recipe.ingredients.all %}
                <li>
                   <strong> {{ring.ingredient.name}} </strong> - {{ring.quantity}}
                </li>
            {% empty %}
                <li> No ingredients found... </li>
        {% endfor %}
    </ul>
    <a href="{% url 'recipe_list' %}"> Back to List</a>
{% endblock %}