{% extends "template.html" %}
{% load static %}

    {% block content %}
    <h1>{{ recipe.name }}</h1>
    <p> <strong> Author: </strong> {{ customer.author.user.username }}</p>

    <h3> Ingredients </h3>
        <ul>
            {% for ring in recipe.ingredients.all %}
                <li>
                   <strong> {{ring.ingredient.name}} </strong> - {{ring.quantity}}
                </li>
            {% empty %}
                <li> No ingredients found... </li>
        {% endfor %}
    </ul>
    
    <hr>

    <h3> Images </h3>
    {% for recipe_image in recipe.photo.all %}
        <img src="{{ recipe_image.image.url }}" class="recipe-image" alt="recipe_image.name">
    {% endfor %}
   
    <hr>
    
    {% if user.is_authenticated %}
        <p>
            <a href="{% url 'recipe_add_image' recipe.pk %}">
                => Add New Image for this Recipe
            </a>
        </p>
    {% endif %}

    <br>

    <a href="{% url 'recipe_list' %}"> Back to List </a>
{% endblock %}